<div class="row">
	<div class="span12 columns">
		<div class="user-panel">
			<div class="big-avatar">
				<%= image_tag @user.gravatar_url(:size => 128) %>
			</div>
			<div class="more-info">
				<h1><%= @user.realname %></h1>
				<div class="aboutme">
					<%= @user.aboutme %>
				</div>
				<div class="credit">
					#<%= @user.credit %>
				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="operations clearfix">
			<a class="green ml20" href="">关注</a>
			<a class="white ml20" href="">私信</a>
		</div>
	</div>
</div>